/*/*/nbproject/private/
**/build/
**/dist/
**/*.project
**/*.classpath
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
ext/rasp3os/bin/
ext/rasp3os/**/*.yy.c
*~
ext/pywikipedia/login-data/*.data
ext/pywikipedia/pywikibot/throttle.ctrl
ext/pywikipedia/logs/*.log

**/.pydevproject
.settings

bin/
tmp/

**/._.DS_Store
**/.DS_Store

**/*.iml
.idea/
.ropeproject/
